<h2>Ranking dos gastos dos Deputados</h2>
<h3>Bem vindo ao ranking dos gastos dos deputados, aqui você poderá verificar os deputados que mais estão gastando no estado do Tocantins.
    Baixe a fonte de dados e adicione o arquivo aqui.
</h3>

<div>Fonte de dados: <a href="https://dadosabertos.camara.leg.br/swagger/api.html#staticfile">Clique aqui</a>
</div>

<div>Adicione seu arquivo aqui</div>
<%= form_with url: import_file_path, local: true do |form| %>
  <%= form.file_field :file %>
  <%= form.submit "Adicionar Dados" %>
<% end %>